{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate 'Cart' %}{% endblock %}
{% block content %}

<h1 class="mb-3">{% translate 'Cart' %}</h1>

{% if cart_items %}
  <ul class="list-group mb-3">
    {% for item in cart_items %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ item.product.title }} — {{ item.quantity }} шт — {{ item.subtotal }} грн
        <form hx-post="{% url 'remove-from-cart' item.product.pk %}" hx-trigger="click" hx-target="closest li" hx-swap="outerHTML">
          {% csrf_token %}
          <button type="submit" class="btn btn-sm btn-danger">{% translate 'Delete' %}</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  <p><strong>Разом: {{ total }} грн</strong></p>
  <a href="{% url 'order-create' %}" class="btn btn-success">{% translate ' Make an order' %}</a>
{% else %}
  <p>{% translate 'Cart is empty..' %}</p>
{% endif %}
{% endblock %}
