{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate 'Reviews about seller' %} {{ seller.store_name }}{% endblock %}

{% block content %}
<h1>{% translate 'Reviews about seller' %} {{ seller.store_name }}</h1>

{% if reviews %}
    {% for review in reviews %}
        <div class="review">
            <strong>{{ review.reviewer.username }}</strong> — {{ review.rating }} ★
            <p>{{ review.comment }}</p>
            <small>Товар: <a href="{% url 'product-detail' review.product.pk %}">{{ review.product.title }}</a></small>
        </div>
    {% endfor %}
{% else %}
    <p>{% translate ' No reviews yet.' %}</p>
{% endif %}
{% endblock %}
